doctype html
html
  head
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(charset='UTF-8')
    meta(name='google', content='notranslate')
    meta(http-equiv='Content-Language', content='en')

    meta(property='og:image', content='images/preview.png')
    meta(property='og:description', content='Riesgos y resiliencias.')
    meta(property='og:url', content='https://tony-ai.herokuapp.com/')
    meta(property='og:title', content='TonyAI | Tijuana')
    meta(property='og:type', content='website')

    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='favicon.ico?v=2', type='image/x-icon')
    link(rel='apple-touch-icon', sizes='57x57', href='images/icon-57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='images/icon-60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/icon-72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='images/icon-76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/icon-57-2x.png')
    link(rel='apple-touch-icon', sizes='120x120', href='images/icon-60-2x.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/icon-72-2x.png')
    link(rel='apple-touch-icon', sizes='152x152', href='images/icon-76-2x.png')
    link(rel='icon', type='image/png', sizes='192x192', href='images/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')

    link(rel='apple-touch-startup-image', media='(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)', href='images/apple_splash_750.png')
    link(rel='apple-touch-startup-image', media='(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)', href='images/apple_splash_1242.png')
    link(rel='apple-touch-startup-image', media='(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)', href='images/apple_splash_640.png')



    link(rel='stylesheet', type='text/css', href='bundle.css')
    title TonyAI
  body(style='background:rgba(255, 255, 255, 0);')
    svg.defs(viewBox='0 0 100 100')
      defs
        radialGradient#Gradient1(cx='50%', cy='50%', fx='50%', fy='50%', r='.5')
          animate(attributename='fx', dur='34s', values='0%;3%;0%', repeatcount='indefinite')
          stop(stop-opacity='0.3', offset='0%', stop-color='rgba(255,255,255, 1.0)')
          stop(stop-opacity='0.0', offset='100%', stop-color='rgba(255,255,255, 1.0)')
        radialGradient#Gradient2(cx='50%', cy='50%', fx='10%', fy='50%', r='.5')
          animate(attributename='fx', dur='23.5s', values='0%;3%;0%', repeatcount='indefinite')
          stop(stop-opacity='0.3', offset='0%', stop-color='rgba(255,255,255, 1.0)')
          stop(stop-opacity='0.0', offset='100%', stop-color='rgba(255,255,255, 1.0)')
        radialGradient#Gradient3(cx='50%', cy='50%', fx='50%', fy='50%', r='.5')
          animate(attributename='fx', dur='21.5s', values='0%;3%;0%', repeatcount='indefinite')
          stop(stop-opacity='0.3', offset='0%', stop-color='rgba(255,255,255, 1.0)')
          stop(stop-opacity='0.0', offset='100%', stop-color='rgba(255,255,255, 1.0)')
    
    main#Root(data-client=client, data-server=server || 'localhost', data-port=port || '3000')

    //- - var authorised = cordova
    //- if authorised == true
    //-   script(type='text/javascript', src='cordova.js')
    script(type='text/javascript', src='bundle.js')
